/* Sidebar.css */
.navbar-nav2{
    background-color: #004225;
}

.navbar2{
    background-color: #004225;
   
}

.card2{
    background-color: #F5F5DC;
    margin-left: 4%;
}

.btn2{
    background-color: #FFB000;
}

.sticky-footer{
    background-color: #F5F5DC;
}











